node_modules
**/node_modules
**/dist
**/build
**/out-tsc
**/.next
**/.expo
**/.expo-shared
**/.cache
**/.local
**/.vapid-keys.json

.git
.github
.vscode
.idea

# env / secrets
.env
.env.local
.env.*.local
.env.production

# logs, tmp
*.log
.DS_Store
tmp

# docker artefacts
docker-compose.yml
.docker-data
